* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:monospace;
    font-size: 20px;
}

.gridContainer {
    display: grid;
    grid-template-areas:
    "photo_name"
    "aboutCV"
    "contactCV"
    "socialMediaCV"
    "educationCV"
    "workExperienceCV"
    "languagesCV"
    "skillsCV"
    "projectsCV"
    ;
    background-color: burlywood;
    border: 1px solid black;
    justify-content: center;
}

.aboutCV {
    grid-area: aboutCV;
    width:55vmax;
}

.gridItem {
    padding: 0.5em;
}

.photo_name {
    grid-area: photo_name;
    display: flex;
    flex-direction: row;
    position: relative;
}

.name {
    color: white;
    position: relative;
    width: 100%;
    left: 150%;
    top: 200px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.name p {
    z-index: 10;
}

.myName {
    position: absolute;
}

.name::before {
    content: '';
    position: absolute;
    width: 150%;
    height: 50%;
    transform: rotate(270deg);
    background:linear-gradient(yellow, red);
    animation: rotate 3.5s linear infinite;
}

.name::after {
    content: '';
    position: absolute;
    inset: 3px;
    background-color:rgb(0, 0, 0);
    border-radius: 20px;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.photo {
    width: 70%;
    border-radius: 20px;
}

.img {
    position: relative;
    border-radius: 20px;
}

.img::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:radial-gradient( rgba(173, 170, 165, 0.1), rgba(0, 0, 0, 0.5)),
               linear-gradient(.25turn,rgb(0, 0, 0, 0.1), black);
    border-radius: 20px;
    filter: blur(2px);
}

.img::after {
    content: '';
    position: absolute;
    width: 40%;
    height: 100%;
    background-color: black;
    right: 5em;
    filter:blur(100px);
}

.contactCV {
    grid-area: contactCV;
    display: grid;
    grid-template-areas: 
    "contact contactList";
}

.contact {
    grid-area: contact;
}

.contactList {
    grid-area: contactList;
}

.socialMediaCV {
    grid-area: socialMediaCV;
    display: grid;
    grid-template-areas: 
    "socialMedia linksToSocialMedia";
    position: relative;
    z-index: 10;
}

.socialMedia {
    grid-area: socialMedia;
}

.linksToSocialMedia {
    grid-area: linksToSocialMedia;
    display: flex;
    flex-direction: row;
}

.linkedin {
    position: relative;
    z-index: 2;
}

.fab:hover {
    color:tomato;
}

.linkedin::after {
    content: '';
    position: absolute;
    width: 40%;
    height: 10%;
    background-color: white;
    left: 1px;
    top: 37px;
    z-index: -1;
    transform: scale(0, 1);
    transition: transform 400ms linear;
    transform-origin: left;
    border-radius: 20px;
}

.linkedin:hover::after {
    content: '';
    position: absolute;
    background-color: black;
    width: 40%;
    height: 10%;
    z-index: -1;
    left: 1px;
    top: 37px;
    transform: scale(1, 1);
    border-radius: 20px;
}

.linkedin::before {
    content: '';
    position: absolute;
    width: 40%;
    height: 10%;
    background-color: white;
    z-index: -1;
    left: 15px;
    top: 37px;
    transform: scale(0, 1);
    transition: transform 400ms linear;
    transform-origin: right;
    border-radius: 20px;
}

.linkedin:hover::before {
    content: '';
    position: absolute;
    background-color:black;
    width: 40%;
    height: 10%;
    z-index: -1;
    left: 15px;
    top: 37px;
    transform: scale(1, 1);
    border-radius: 20px;
}

.fa-github-square {
    position: relative;
    z-index: 2;
}

.fa-github-square::after {
    content: '';
    position: absolute;
    left: 1.5px;
    top: 37px;
    width: 90%;
    height: 10%;
    background-color: white;
    z-index: -1;
    transform: scale(0, 1);
    transition: transform 400ms linear;
    border-radius: 20px;
}

.fa-github-square:hover::after {
    content: '';
    position: absolute;
    background-color: black;
    left: 1.5px;
    top: 37px;
    width: 90%;
    height: 10%;
    z-index: -1;
    transform: scale(1, 1);
}

.linksToSocialMedia li a {
    text-decoration: none;
    margin-right: 10px;
    color: black;
}

.educationCV {
    grid-area: educationCV;
    display: grid;
    grid-template-areas: 
    "education educationList";
}

.education {
    grid-area: education;
}

.workExperienceCV {
    grid-area: workExperienceCV;
    display: grid;
    grid-template-areas: 
    "workExperience workExperienceList";
}

.workExperience {
    grid-area: workExperience;
}

.workExperienceList {
    grid-area: workExperienceList;
}

.languagesCV {
    grid-area: languagesCV;
    display: grid;
    grid-template-areas: 
    "languages languagesList";
}

.languages {
    grid-area: languages;
}

.languagesList {
    grid-area: languagesList;
}

.skillsCV {
    grid-area: skillsCV;
    display: grid;
    grid-template-areas: 
    "skills skillList";
}

.skill {
    grid-area: skills;
}

.skillList {
    grid-area: skillList;
    display: flex;
    flex-direction: column;
}

.projectsCV {
    grid-area: projectsCV;
    display: grid;
    grid-template-areas: 
    "projects projectsList";
}

.projects {
    grid-area: projects;
}

.projectsList {
    grid-area:projectsList;
}

.contact,
.socialMedia,
.education,
.workExperience,
.languages,
.skills,
.projects {
    width: 20vw;
    border-right: 1px solid black;
}

.contactList,
.linksToSocialMedia,
.educationList,
.courses,
.workExperienceList,
.languagesList,
.skillList,
.projectsList {
    list-style-type: none;
    margin-left: 0.5em;
}

.contactCV,
.socialMediaCV,
.educationCV,
.workExperienceCV,
.languagesCV,
.skillsCV,
.projectsCV {
    justify-content: start;
}

@media screen and (max-width: 700px) {
    .name {
        font-size:xx-small;
        top: 16em;
        left: 1em;
    }
}

@media screen and (max-width: 375px) {
    .name {
        font-size:xx-small;
        top: 13em;
        left: 1em;
    }
}

@media screen and (max-width:350px) {
    .name {
        font-size:xx-small;
        top: 11em;
        left: 1em;
    }
}

@media screen and (max-width: 350px), (max-width: 375), (max-width:700px) {
    .contactCV {
        grid-template-areas:
        "contact"
        "contactList";
    }
    .socialMediaCV {
        grid-template-areas: 
        "socialMedia"
        "linksToSocialMedia";
    }
    .educationCV {
        grid-template-areas: 
        "education"
        "educationList";
    }
    .workExperienceCV {
        grid-template-areas: 
        "workExperience"
        "workExperienceList";
    }
    .languagesCV {
        grid-template-areas: 
        "languages"
        "languagesList";
    }
    .skillsCV {
        grid-template-areas: 
        "skills"
        "skillList";
    }
    .projectsCV {
        grid-template-areas: 
        "projects"
        "projectsList";
    }
    .contact,
    .socialMedia,
    .education,
    .workExperience,
    .languages,
    .skills,
    .projects {
        width: 80vw;
        border-right: none;
        border-bottom: 1px solid black;
    }
    .contactList,
    .linksToSocialMedia,
    .educationList,
    .courses,
    .workExperienceList,
    .languagesList,
    .skillList,
    .projectsList {
        margin-top: 0.5em;
    }
    .img::after {
        content: '';
        position: absolute;
        width: 30%;
        height: 100%;
        background-color: black;
        right: 15px;
        filter:blur(45px);
    }
    .aboutCV {
        grid-area: aboutCV;
        width: 100%;
    }
}